<!DOCTYPE html>
<html>
<head>
  <title>Tailf</title>
  <%= stylesheet_link_tag    "tailf/application", media: "all" %>
  <%= javascript_include_tag "tailf/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
